* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, rgb(80, 64, 64) 0%, black 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}
header h1 {
  text-shadow: 0 1rem 2rem rgb(8, 0, 0);
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2rem 4rem black;
}
form input,
form button {
  color: #f7fffe;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(145, 107, 107);
}
form button {
  color: rgb(80, 64, 64);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgb(80, 64, 64);
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: rgb(80, 64, 64);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(10, 4, 0);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  font-size: 1rem;
  color: rgb(80, 64, 64);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  font-size: 1rem;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgb(80, 64, 64);
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
@media (max-width: 450px) {
  html {
    font-size: 30%;
  }

  header,
  form {
    min-height: 20vh;
    width: auto;
  }
  form input,
  form button {
    color: #f7fffe;
    padding: 0.1rem;
    font-size: 1rem;
    border: none;
    background: rgb(145, 107, 107);
  }
  form button {
    color: rgb(80, 64, 64);
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: rgb(80, 64, 64);
    color: white;
  }
  .select {
    margin: .5rem;
    font-size: .5rem;
    position: relative;
    overflow: hidden;
  }
  select {
    font-size: .5rem;
    color: rgb(80, 64, 64);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 6rem;
    height: 1rem;
  }
  /* Arrow */
  .select::after {
    font-size: .6rem;
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0rem;
    background: rgb(80, 64, 64);
    cursor: pointer;
    pointer-events: none;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 10%;
  }
}
@media (max-width: 660px) {
  html {
    font-size: 75%;
  }
}
